@import "../../lib/ui/bootstrap";

[data-application="DemoApp.DependPromise"] {
  h1 {
    color: black;
    @include transition(color .5s ease-in-out);

    &.color-promise-1 {
      color: $mdc-theme-primary-light;
    }
    &.color-promise-2 {
      color: $mdc-theme-primary;
    }
    &.color-promise-3 {
      color: $mdc-theme-primary-dark;
    }
    &.color-promise-4 {
      color: $mdc-theme-secondary-light;
    }
    &.color-promise-5 {
      color: $mdc-theme-secondary-dark;
    }
  }
}
