@import "../../lib/ui/bootstrap";

[data-application="DemoApp.DependPromise"] {
  h1 {
    color: black;
    @include transition(color .5s ease-in-out);

    &.color-promise-1 {
      color: $brand-primary;
    }
    &.color-promise-2 {
      color: $brand-success;
    }
    &.color-promise-3 {
      color: $brand-warning;
    }
    &.color-promise-4 {
      color: $brand-danger;
    }
    &.color-promise-5 {
      color: $brand-info;
    }
  }
}
