@import "../../lib/ui/bootstrap";

[data-application="DemoApp.DependEvent"] {
  h1 {
    color: black;
    @include transition(color .5s ease-in-out);

    &.color-event-1 {
      color: $mdc-theme-primary-light;
    }
    &.color-event-2 {
      color: $mdc-theme-primary;
    }
    &.color-event-3 {
      color: $mdc-theme-primary-dark;
    }
    &.color-event-4 {
      color: $mdc-theme-secondary-light;
    }
    &.color-event-5 {
      color: $mdc-theme-secondary-dark;
    }
  }
}
